<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MyEnterpriseXMLApp" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MyAppFiles" Directory="INSTALLFOLDER">
      <Component Id="MyEnterpriseXMLAppExe" Guid="*">
        <File
          Source="dist\MyEnterpriseXMLApp\MyEnterpriseXMLApp.exe"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
