<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*"
           Name="MyEnterpriseXMLApp"
           Language="1036"
           Version="2.0.2"
           Manufacturer="Luz Informatique"
           UpgradeCode="{F1B7C9C3-0F6D-4E52-9B9F-5E4A1F9C8C11}">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MyEnterpriseXMLApp is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Feature Id="MainFeature" Title="MyEnterpriseXMLApp" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>

  </Product>

</Wix>
